---
import PricingSection from "./PricingSection";
import ParticlesBackground from "./ParticlesBackground";
---

<section
    class="relative w-full min-h-screen flex items-center justify-center overflow-hidden py-20"
>
    <ParticlesBackground client:only="react" />

    <!-- Ambient Transition Glow - Top (Symmetrical to Products) -->
    <div
        class="absolute top-0 left-1/2 -translate-x-1/2 w-[800px] h-[400px] bg-neon-green/5 blur-[120px] rounded-full -translate-y-1/2 pointer-events-none z-10"
    >
    </div>

    <PricingSection client:only="react" />

    <!-- Ambient Transition Glow - Bottom (Symmetrical to Products) -->
    <div
        class="absolute bottom-0 left-1/2 -translate-x-1/2 w-[800px] h-[400px] bg-blue-500/5 blur-[120px] rounded-full translate-y-1/2 pointer-events-none z-10"
    >
    </div>
</section>
