---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import ParticlesBackground from "../components/ParticlesBackground";
import HeroCyclingContent from "../components/HeroCyclingContent";
import "../styles/global.css";
---

<Layout>
    <Navbar client:load />

    <section
        class="relative h-screen flex flex-col items-center justify-center pt-[72px] text-center px-6 overflow-hidden"
    >
        <ParticlesBackground client:only="react" />

        <HeroCyclingContent client:only="react" />
    </section>
</Layout>
